:root {
    --main-bg-color: #031100;
    --main-color: #1ec503;
}

* {
    font-family: cursive;
    background: var(--main-bg-color);
}

#elements-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#student_info h1, #student_info h2 {
    color: var(--main-color);
    padding: 2px 5px;
    font-size: 16px;
}

#student_info > h1 {
    font-size: 18px;
}

#graph_column {
    width: 30%;
    padding: 10px 20px;
    text-align: center;
    vertical-align: top;
}

#graphic {
    border: 5px solid var(--main-color);
}

#form_column {
    width: 20%;
    padding: 10px 20px;
    color: var(--main-color);
}

input[type=text] {
    height: 30px;
    margin: 10px 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

input[type=text]:focus {
    border: 2px solid var(--main-color);
}

input[type=text], input[type=text]::placeholder {
    color: var(--main-color);
}

input[name="x"]:checked + label {
    font-weight: bolder;
}

input.error, div.error {
    border: 2px solid darkred;
    border-radius: 5px;
}

button {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    text-align: center;
    font-size: 18px;
    padding: 5px 15px;
    margin: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

.group {
    padding-bottom: 10px;
}

.hint {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--main-color);
}

.hint .hint-text {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: var(--main-color);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    left: 105%;
}

.hint:hover .hint-text {
    visibility: visible;
}

#results_column {
    width: 50%;
    padding: 10px 20px;
    text-align: center;
    vertical-align: top;
}

.results, .results th, .results td {
    text-align: center;
    border: 3px solid;
}

.results {
    width: 100%;
    border-collapse: collapse;
    color: var(--main-color);
}